<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Normal.dotm</Template><TotalTime>1859</TotalTime><Pages>33</Pages><Words>3943</Words><Characters>22477</Characters><Application>Microsoft Office Word</Application><DocSecurity>0</DocSecurity><Lines>187</Lines><Paragraphs>52</Paragraphs><ScaleCrop>false</ScaleCrop><Company>uestc</Company><LinksUpToDate>false</LinksUpToDate><CharactersWithSpaces>26368</CharactersWithSpaces><SharedDoc>false</SharedDoc><HyperlinksChanged>false</HyperlinksChanged><AppVersion>16.0000</AppVersion></Properties>